<div style="width: 250px;">
    <div class="m-3">
        <h5 class="fw-semibold">Type Of Job</h5>
        <ul class="list-unstyled ms-4">
            <li><a href="/">Full time</a></li>
            <li><a href="/">part time</a></li>
            <li><a href="/">remote job</a></li>
            <li><a href="/">trianing job</a></li>
        </ul>
    </div>
    <div class="m-3 mt-5">
        <h5 class="fw-semibold">Level</h5>
        <ul class="list-unstyled ms-4">
            <li><a href="/">student level</a></li>
            <li><a href="/">Entry level</a></li>
            <li><a href="/">Mid Level</a></li>
            <li><a href="/">Seniour level</a></li>
        </ul>
    </div>
</div>